body,
html {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
@font-face {
  src: url("https://daero.wtf/fonts/google/google_sans.ttf");
  font-family: google_sans;
}
@font-face {
  src: url("https://daero.wtf/fonts/comfortaa/comfortaa.ttf");
  font-family: comfortaa;
}
body,
html {
  margin: 0;
  background-color: #212121;
}

.content {
  font-size: 20px;
  font-family: google_sans;
  color: white;
  width: 90%;
  text-align: center;
}
.nav {
  font-family: comfortaa;
  overflow: hidden;
  background: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  color: white;
  font-size: 40px;
}
.nav a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: red;
  cursor: pointer;
}
#main {
  margin-left: 10%;
  margin-right: 10%;
}
.page-title {
  text-align: center;
  font-family: google_sans;
  font-size: 50px;
}
.text {
  font-size: 50px;
  font-family: comfortaa;
  text-align: center;
}
td {
  color: white;
  font-size: 20px;
  font-family: google_sans;
}
.daero_title {
  padding-left: 4px;
  color: #ffffff;
  font-size: 30px;
  font-family: comfortaa;
}
.container-l {
  text-align: justify;
}
.container-r {
  text-align: justify;
}
@media only screen and (max-width: 720px) {
  .page-title {
    font-size: 30px;
  }
  td {
    color: white;
    font-size: 17px;
    font-family: google_sans;
  }
  .daero_title {
    padding-left: 4px;
    color: #ffffff;
    font-size: 25px;
    font-family: comfortaa;
  }
}
