body,
html {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
@font-face {
  src: url("../fonts/google/google_sans.ttf");
  font-family: google_sans;
}
@font-face {
  src: url("../fonts/comfortaa/comfortaa.ttf");
  font-family: comfortaa;
}
body,
html {
  margin: 0;
}
.nav {
  font-family: google;
  overflow: hidden;
  background: black;
  padding: 26px;
}
.nav a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: red;
  cursor: pointer;
}
#main {
  margin-left: 10%;
  margin-right: 10%;
}
.page-title {
  text-align: center;
  font-family: google_sans;
  font-size: 50px;
}
.text {
  font-size: 50px;
  font-family: comfortaa;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .page-title {
    font-size: 30px;
  }
}
